<!DOCTYPE html>
<html lang="sk">
<title>Malware bois | Team Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
<body>

<!-- Sidebar on click -->
<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2"
     id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
        <i class="fa fa-remove"></i>
    </a>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
    <a href="#" class="w3-bar-item w3-button">Link 4</a>
    <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-teal" style="transition: background-color 350ms ease-in-out">
            <i class="fa fa-home w3-margin-right"></i>Domov</a>
        <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white"
           style="transition: background-color 350ms ease-in-out">Tím</a>
        <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white"
           style="transition: background-color 350ms ease-in-out">Cieľ práce</a>
        <a href="#notes" class="w3-bar-item w3-button w3-hide-small w3-hover-white"
           style="transition: background-color 350ms ease-in-out">Zápisnice</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
        <a href="#team" class="w3-bar-item w3-button">Team</a>
        <a href="#work" class="w3-bar-item w3-button">Work</a>
        <a href="#notes" class="w3-bar-item w3-button">Price</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
        <a href="#" class="w3-bar-item w3-button">Search</a>
    </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
    <img src="../static/images/notebook_coffeee.jpg" alt="notebook" style="width:100%;min-height:350px;max-height:600px;">
    <div class="w3-container w3-display-bottomleft w3-margin-bottom">
        <button class="w3-button w3-xlarge w3-theme w3-hover-teal" style="border-radius: 5px">
            Malware bois
        </button>
    </div>
</div>

<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>Náš tím</h2>
    <p>Zoznámte sa s riešiteľmi problému</p>

    <div class="w3-row"><br>
        <div style="display: flex; justify-content: center; flex-wrap: wrap;">
            <div class="w3-quarter">
                <img src="../static/images/andrej.png" alt="Boss" style="width:130px; height: 130px; transition: opacity 300ms"
                     class="w3-circle w3-hover-opacity">
                <h3>Andrej Fula</h3>
                <p>Vedúci tímu</p>
            </div>

            <div class="w3-quarter">
                <img src="../static/images/peto.png" alt="Boss" style="width:130px; height: 130px; transition: opacity 300ms"
                     class="w3-circle w3-hover-opacity">
                <h3>Peter Hajduk</h3>
                <p>Backend / Databáza</p>
            </div>

            <div class="w3-quarter">
                <img src="../static/images/matus.png" alt="Boss" style="width:130px; height: 130px; transition: opacity 300ms"
                     class="w3-circle w3-hover-opacity">
                <h3>Matúš Straňák</h3>
                <p>Dizajner / Frontend</p>
            </div>
        </div>

        <div style="display: flex; justify-content: center; flex-wrap: wrap;">
            <div class="w3-quarter">
                <img src="../static/images/tomas.jpg" alt="Boss" style="width:130px; height: 130px; transition: opacity 300ms"
                     class="w3-circle w3-hover-opacity">
                <h3>Tomáš Zachar</h3>
                <p>Frontend / Backend</p>
            </div>
            <div class="w3-quarter">
                <img src="../static/images/filip.png" alt="Boss" style="width:130px; height: 130px; transition: opacity 300ms"
                     class="w3-circle w3-hover-opacity">
                <h3>Filip Wagner</h3>
                <p>Frontend</p>
            </div>

            <div class="w3-quarter">
                <img src="../static/images/jakub.jpg" alt="Boss" style="width:130px; height: 130px; transition: opacity 300ms"
                     class="w3-circle w3-hover-opacity">
                <h3>Jakub Šíp</h3>
                <p>Backend</p>
            </div>
        </div>

    </div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">
    <h2 style="text-align: center">Cieľ práce</h2>
    <p style="padding-left: 1em; padding-right: 1em">
        Cieľom tímového projektu je vytvoriť komplexný systém, ktorý bude slúžiť pri výskume detekcie malvéru. Systém
        musí byť schopný sťahovať škodlivé vzorky a spolu s metadátami ich ukladať do databázy. Okrem ukladania musí
        overovať či sa jedná o skutočne škodlivú vzorku (napr. pomocou verejných služieb ako VirusTotal),
        kontrolovať duplicity, použitie packerov a pod. Pre potreby strojového učenia je taktiež nutné vytvárať aj
        databázu regulárnych súborov. Okrem backendu je nutné implementovať aj frontendovú aplikáciu, pomocou ktorej
        bude možné databázu prehliadať, sledovať štatistiky, stiahnuť si trénovaciu/testovaciu množinu podľa
        používateľom zadaných parametrov a pod.
    </p>
</div>


<div class="w3-row-padding w3-center w3-padding-64" id="notes">
    <div style="display: flex; flex-direction: column">
        <h2>Zápisnice</h2>
        <p>Detaily stretnutí</p><br>
        <div class="w3-third w3-margin-bottom" style="margin: auto">
            {% for zapisnica in zapisnice %}
            <ul class="w3-ul w3-border w3-hover-shadow">
                <li class="w3-theme">
                    <p class="w3-xlarge">Zápisnica {{ loop.index }}</p>
                </li>
                <li class="w3-padding-16"><b>{{ zapisnica.title }}</b></li>
                {% if zapisnica.subtitle %}
                <li class="w3-padding-16">{{ zapisnica.subtitle }}</li>
                {% endif %}
                <li class="w3-padding-16"><b>Dátum:</b> {{ zapisnica.date }}</li>
                <li class="w3-padding-16">
                    <p><b>Prítomní</b>: {{ zapisnica.present }}</p>
                </li>
                <li class="w3-theme-l5 w3-padding-24">
                    <form method="get" action="static/notes/{{ zapisnica.path.replace(".json",".pdf") }}">
                        <button type="submit" class="w3-button w3-teal w3-padding-large">Stiahnuť</button>
                    </form>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64" id="contact">
    <hr>
    <div class="w3-row">
        <img class="w3-third" src="../static/images/STU-FEI-anch.png" alt="ano">
    </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    <a class="w3-button w3-large w3-teal" href="https://www.facebook.com/FEI.STUBA/" title="Facebook"><i
            class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-teal" href="https://twitter.com/potus" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-teal" href="https://www.instagram.com/fei.stuba/?hl=sk" title="Instagram"><i
            class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-teal w3-hide-small"
       href="https://www.linkedin.com/school/slovensk%C3%A1-technick%C3%A1-univerzita-v-bratislave/" title="Linkedin"><i
            class="fa fa-linkedin"></i></a>

    <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
        <span class="w3-text w3-padding w3-teal w3-hide-small">Späť hore</span>
        <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
</footer>

<script>
    // Script for side navigation
    function w3_open() {
        const x = document.getElementById("mySidebar");
        x.style.width = "300px";
        x.style.paddingTop = "10%";
        x.style.display = "block";
    }

    // Close side navigation
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }

    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        const x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>
